@import "../../index.scss";
@import "../../index.scss";

$avatarWidth: 4.5rem;
$laptopWidth: 4.5rem - 0.8rem;
$displayCount: 10;
$sectionWidth: $avatarWidth * $displayCount;

.AvatarList {
  width: $laptopWidth * $displayCount;
  @media (min-width: 1200px) {
    width: $avatarWidth * $displayCount;
  }
  .listWrapper {
    transition: all 0.35s ease-out;
  }

  .AvatarItemWrapper {
    flex: 0 0 $laptopWidth;
    height: $laptopWidth;
    @media (min-width: 1200px) {
      flex: 0 0 $avatarWidth;
      height: $avatarWidth;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      & > .AvatarItem {
        transform: scale(1.45);
      }
    }
    & > .AvatarItem {
      $avatarLaptopInnerWidth: $laptopWidth - 1.2rem;
      $avatarInnerWidth: $avatarWidth - 1.5rem;
      width: $avatarLaptopInnerWidth;
      height: $avatarLaptopInnerWidth;
      @media (min-width: 1200px) {
        width: $avatarInnerWidth;
        height: $avatarInnerWidth;
      }
      transition: all 0.25s ease-out;
      cursor: pointer;
    }
  }
}
